.subtotal {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a20;
  height: 80px;
  width: 500px;
  align-items: center;
  background-color: whitesmoke;
}
.subtotal > button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a20;
  font-weight: 700;
  height: 30px;
  width: 100px;
}
